# Default values for sonja.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

hostName: sonja

mysql:
  auth:
    rootPassword: secret
    database: sonja

mtu: 1450
insecureRegistries: []

auth:
  # openssl rand -hex 32
  secretKey: 1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
  user: user
  password: paSSw0rd

services:
  - name: public
    pingUrl: /api/v1/ping
  - name: scheduler
  - name: crawler
  - name: frontend
  - name: linux-agent
    docker: true
    image: agent

linux:
  replicas: 1

windows:
  image: localhost:5000/windows20h2:latest
  replicas: 1
