apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ template "sonja.fullname" $ }}-ingress
  annotations:
    ingress.kubernetes.io/ssl-redirect: "true"
    kubernetes.io/ingress.class: nginx
spec:
  tls:
  - hosts:
    - {{ .Values.hostName }}
    secretName: {{ .Release.Name }}
  rules:
  - host: {{ .Values.hostName }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ template "sonja.fullname" $ }}-frontend
            port: 
              number: 8080
      - path: /api/v1
        pathType: Prefix
        backend:
          service:
            name: {{ template "sonja.fullname" $ }}-public
            port: 
              number: 8080
