{{- range .Values.services }}
kind: Service
apiVersion: v1
metadata:
  name: {{ template "sonja.fullname" $ }}-{{ .name }}
spec:
  selector:
    app: {{ template "sonja.fullname" $ }}-{{ .name }}
  ports:
    - port: 8080
---
{{- end }}
kind: Service
apiVersion: v1
metadata:
  name: {{ template "sonja.fullname" $ }}-windows-agent
spec:
  selector:
    app: {{ template "sonja.fullname" $ }}-windows-agent
  ports:
    - port: 8080
---
{{- range untilStep 0 (int .Values.windows.replicas) 1 }}
kind: Service
apiVersion: v1
metadata:
  name: {{ template "sonja.fullname" $ }}-windows-docker-{{ . }}
spec:
  selector:
    app: {{ template "sonja.fullname" $ }}-windows-docker-{{ . }}
  ports:
    - port: 2375
---
{{- end }}
