attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
clickclick==20.10.2
connexion==2.7.0
docker==4.3.1
Flask==1.1.2
gitdb==4.0.5
GitPython==3.1.9
idna==2.10
inflection==0.5.1
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
MarkupSafe==1.1.1
openapi-spec-validator==0.2.9
pyrsistent==0.17.3
python-dateutil==2.8.1
PyYAML==5.3.1
requests==2.24.0
six==1.15.0
smmap==3.0.4
SQLAlchemy==1.3.20
swagger-ui-bundle==0.0.8
urllib3==1.25.10
websocket-client==0.57.0
Werkzeug==1.0.1
